body {

	background: green;

}

a {

	text-decoration: none;
}

a:hover{

	color : yellow;
	
}

h1 {

	font-family: serif;
	font-size: 25pt;
}

h2 {

	font-family: sans-serif;
}

p {

	font-family : sans-serif;


}
