@media (min-width: 500px) and (max-width: 800px) {

	body {

		background: gray;

	}

	.responsive {

		display: inline-block;
		width: 250px;
		border: 1px solid black;
	}

}

@media (max-width: 499px) {

	body {

		background: yellow;

	}

}



a {

	text-decoration: none;
}

a:hover{

	color : yellow;
	
}

h1 {

	font-family: serif;
	font-size: 25pt;
}

h2 {

	font-family: sans-serif;
}

p {

	font-family : sans-serif;


}

.indent{

	margin-left: 20px;
}

.violetlink:hover{

	color: violet;

}
